'<style type="text/css">
.db-error, .db-error pre  {
	font: 12px Arial, Helvetica, sans-serif; 
}
.db-error {
	padding: 0.75em;
	margin: 0.75em;
	border: 1px solid #990000;
	max-width: 400px;
	color: #990000;
	background-color: #FDF0EB;
	-moz-border-radius: 0.5em;
	-webkit-border-radius: 0.5em;
}
.db-error h3 {
	margin: 0;
	padding-bottom: 0.25em;
	border-bottom: 1px solid #990000;
}
.db-error label {
	display: block;
	padding-top: 1em;
	font-weight: bold;
}
.db-error pre {
	margin: 0;
}
</style>
<div class="db-error">
	<h3>SQL Error</h3>
	<label>Error:</label>SQLSTATE[23000]: Integrity constraint violation: 1062 Duplicate entry \'https://www.yahoo.com/news/m/5341a81b-5245-3410-af24-521a6ad6d45\' for key \'link\'
	<label>SQL Statement:</label>INSERT INTO articles (link) VALUES (:link);
	<label>Bind Parameters:</label><pre>Array
(
    [:link] => https://www.yahoo.com/news/m/5341a81b-5245-3410-af24-521a6ad6d456/undefined
)</pre>
	<label>Backtrace:</label>C:\\files\\freelancer\\yahooscrape\\scrapeyahoo.php at line 8
	</div>
</div>'